.DS_Store
node_modules

# Local Netlify folder
.netlify
.env
android.keystore
app/
build/
gradle/
gradlew
gradlew.bat
manifest-checksum.txt
store_icon.png
.gradle/
build.gradle
gradle.properties
settings.gradle
app-release*
